[user]
 name = Ron Morgenstern
 email = ron.morgenstern@pagaya.com

[color]
 branch = auto
 diff = auto
 interactive = auto
 pager = true
 status = auto
 ui = true

[color "status"]
 added = green
 changed = yellow
 untracked = red

[core]
 editor = vim
 excludesfile = ~/.gitignore

[url "https://github.com/"]
 insteadOf = git@github.com:

[alias]
 #  === Common Commands ===
 s = status
 b = branch
 a = add
 r = rebase
 f = fetch
 m = merge

 #  === Commit Commands ===
 co = "!f() { git commit -m "`git rev-parse --abbrev-ref HEAD`" -m \"$1\"; }; f"

 #  === Logging ===
 lg = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

 #  === Branch management ===
 br = !git branch --format='%(refname:short) - %(contents:subject) (%(committerdate:relative))' --sort=-committerdate
 sw = !git checkout $(git branch -a --format '%(refname:short)' | sed 's~origin/~~' | sort | uniq | fzf --height 40% --reverse)
 co = "!f() { git checkout -b \"$1\"; }; f"
 db = !git branch --no-color | fzf -m | xargs -I {} git branch -D '{}'
 pub = !git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`
 rso = !git reset origin/`git rev-parse --abbrev-ref HEAD` --hard

 #  === Utillities ===
 alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/'