[user]
    name = Ron Morgenstern
    email = ron.morgenstern@pagaya.com
    username = ronmorgen1

[init]
    defaultBranch = master

[color]
    branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[help]
    autoCorrect = immediate

[url "https://github.com/"]
    insteadOf = git@github.com:

[merge]
    ff = only

[pretty]
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
