[user]
  name = Ron Morgenstern
  email = ron.morgenstern@pagaya.com
  username = ronmorgen1

[init]
  defaultBranch = master

[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[url "https://github.com/"]
  insteadOf = git@github.com:

[merge]
  ff = only
