### Vim ###

# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Temporary
.netrwhist


vim/after
vim/pack/*
vim/plugged
vim/swaps/*.swp
vim/sessions/__LAST__
Brewfile.lock.json
.zshrc.local
config/gh/hosts.yml
config/pip
config/gh-dash
config/raycast
config/github-copilot

**/tmux-prefix-highlight
config/nvim/lazy-lock.json
